{% extends "::base.html.twig" %}

{% block body %}
    <img src="{{ asset('images/background-content.svg') }}" width="100%" alt="">
    <h1 style="text-align:center">This page doesn't exist!</h1>
{% endblock %}