{% extends "::base.html.twig" %}

{% block body %}
    <img src="{{ asset('images/background-content.svg') }}" width="100%" alt="">
    <h1 style="text-align:center">You are not permitted to view this page</h1>
{% endblock %}