{% extends "::base.html.twig" %}

{% block body %}
    <img src="{{ asset('images/background-content.svg') }}" width="100%" alt="">
    <h1 style="text-align:center">Something went wrong and the page can not be displayed...</h1>
{% endblock %}