{% extends 'PublicBundle:Default:base.html.twig' %}
{% block content %}

    <div id="route_tag" data-route="{{path('about_route')}}"></div>

    <h2>About</h2>
    <p>Symfony 3, Twig, custom user provider with two steps account activation, facial recognition software, vector graphics</p>
{% endblock %}