{% extends 'PublicBundle:Default:base.html.twig' %}
{% block content %}
    <div id="route_tag" data-route="{{path('public_home')}}"></div>
    <h2>Welcome to pickture!</h2>
    <p><b>Start Uploading <a href="/profile/upload">now!</a></b></p>
{% endblock %}